
<uib-accordion close-others="false" ng-show="(vm.flowchartselected | filter:{'module_type_uid':'!!'}).length" class="hidden-sm hidden-xs">
  <uib-accordion-group class="accordion-panel" ng-init="formatShape.open = true" is-open="formatShape.open"
        ng-repeat="node in (vm.flowchartselected | filter:{'module_type_uid':'!!'})">

    <uib-accordion-heading>
      Node {{node.id}} <small>({{node.module_type_uid}})</small>
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': formatShape.open,
          'glyphicon-chevron-right': !formatShape.open}">
      </i>
    </uib-accordion-heading>

    <uib-tabset justified="true">
      <uib-tab heading="Configuration">
        <br />
        <div class="tab-content">
          <form name="nodeForm-{{node.id}}">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" ng-model="node.name" enforce-empty placeholder="{{node.name || vm.callbacks.nodeCallbacks.getDefaultNodeLabel(node) }}"></input>
              <div><small>Leave blank to use the default (computed) name:<br /><em>"{{vm.callbacks.nodeCallbacks.getDefaultNodeLabel(node)}}"</em></small></div>
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <input type="text" class="form-control" ng-model="node.description" placeholder="Optional"></input>
            </div>
            <hr />
            <h4>Module configuration</h4>

            <config-form node="node" module-type="vm.getNodeModuleType(node)"></config-form>
          </form>
        </div>
      </uib-tab>

      <uib-tab heading="Description">
        <br />
        <div class="tab-content">
          {{vm.getNodeModuleType(node).description}}
        </div>
      </uib-tab>

    </uib-tabset>

  </uib-accordion-group>
</uib-accordion>

<uib-accordion close-others="false" ng-hide="(vm.flowchartselected | filter:{'module_type_uid':'!!'}).length" class="hidden-sm hidden-xs">
  <uib-accordion-group class="accordion-panel" ng-init="configFlow.open = true" is-open="configFlow.open">
    <uib-accordion-heading>
      {{vm.currentFlowId}}
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': configFlow.open,
          'glyphicon-chevron-right': !formatShape.open}">
      </i>
    </uib-accordion-heading>

    <uib-tabset active="vm.activeNodeConfigTab" justified="true">
      <uib-tab heading="Flow" index="0">
        <br />
        <div class="tab-content">
          <form name="flowForm">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" ng-model="vm.model.name"></input>
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <input type="text" class="form-control" ng-model="vm.model.description" placeholder="Optional"></input>
            </div>
          </form>
        </div>
      </uib-tab>

      <uib-tab heading="Build" index="1">
        <br />
        <div class="tab-content">
          <div class="col-sm-12" ng-if="vm.publishResultClass">
            <uib-progress max="vm.publishRequests.length" animate="false">
              <uib-bar type="{{vm.publishResultClass}}" value="(vm.publishRequests | filter:{$: 'DELETE'}).length">{{(vm.publishRequests | filter:{$: 'DELETE'}).length}} rule(s) deleted</uib-bar>
              <uib-bar type="{{vm.publishResultClass}}" value="(vm.publishRequests | filter:{$: 'POST'}).length">{{(vm.publishRequests | filter:{$: 'POST'}).length}} rule(s) added</uib-bar>
            </uib-progress>
          </div>

          <!--<ul>
            <li ng-repeat="request in vm.publishRequests">
              {{request.status}} {{request.statusText}} - {{request.config.method}} {{request.config.url}}
            </li>
          </ul>-->
          <small class="col-sm-12">
            <ul style="padding-left: 0">
              <li ng-repeat="line in vm.lastBuildLogs" ng-class="{ 'bg-danger': line.level === 'ERROR', 'bg-info': line.level === 'INFO' }">{{line.message}}</li>
            </ul>
            <div ng-if="vm.lastBuildError" class="text-danger"><strong>Build failed</strong></div>
            <div ng-if="!vm.lastBuildError && vm.lastBuildResult.length > 0"><strong>Built {{vm.lastBuildResult.length}} rule(s) successfully</strong>
            <br />
            <modal-script-editor ng-model="vm.lastBuildResult" json="true" button-style="false" readonly="true" dialog-title="Flow build results" label="View"></modal-script-editor></div>

            <!--<pre ng-repeat="rule in vm.lastBuildResult" style="font-size: 8pt">{{rule | json:1 }}</pre>-->
          </small>
        </div>
      </uib-tab>

      <uib-tab heading="Debug" index="2" ng-show="vm.debuggerActive">
        <br />
        <div class="tab-content">
          <form ng-if="vm.debuggerActive" name="vm.debuggerForm" class="form-inline well well-sm">
              <label>Send command & watch</label>
              <item-picker ng-model="vm.debugItem"></item-picker>
              <input type="text" class="form-control input-sm" ng-model="vm.debugCommand" placeholder="Command" style="width: 100px"></input>
              <button type="submit" class="btn btn-sm btn-primary" ng-click="vm.sendDebuggerCommand()">Send</button>
              <button type="button" class="btn btn-sm btn-info" ng-click="vm.addDebuggerWatch(vm.debugItem)">Watch</button>
              <table class="table table-condensed debugger-watch">
                <tr ng-repeat="(name, state) in vm.debuggerWatches">
                  <td class="itemname"><label><small>{{name}}</small></label></td>
                  <td>
                    <input class="form-control input-sm" name="watchState_{{name}}"
                      ng-model="state" ng-model-options="{ updateOn: 'blur' }"
                      ng-keydown="vm.debuggerWatchKeyDown(name, $event)"></input>
                    <button class="btn btn-sm btn-danger debugger-watch-close" ng-click="vm.removeDebuggerWatch(name)">X</button>
                  </td>
                </tr>
              </table>
          </form>
        </div>
        <small class="col-sm-12">
          <ul style="padding-left: 0">
            <li ng-repeat="event in vm.debuggerEvents" ng-if="!vm.debuggerRawEvents">
              <span ng-switch="event.type">
                <span ng-switch-when="ItemStateEvent">
                  Item <a ng-click="vm.addDebuggerWatch(event.topicparts[2])" class="label label-primary">{{event.topicparts[2]}}</a> state is now <code>{{event.payload.value}}</code>
                </span>
                <span ng-switch-when="ItemCommandEvent">
                  Item <a ng-click="vm.addDebuggerWatch(event.topicparts[2])" class="label label-primary">{{event.topicparts[2]}}</a> <strong>received command</strong> <code>{{event.payload.value}}</code>
                </span>
                <span ng-switch-when="ItemStateChangedEvent">
                  Item <a ng-click="vm.addDebuggerWatch(event.topicparts[2])" class="label label-primary">{{event.topicparts[2]}}</a> changed from
                    <code>{{event.payload.oldValue}}</code> to <code>{{event.payload.value}}</code>
                </span>
                <span ng-switch-when="GroupItemStateChangedEvent">
                  Group <a ng-click="vm.addDebuggerWatch(event.topicparts[2])" class="label label-primary">{{event.topicparts[2]}}</a> changed from
                    <code>{{event.payload.oldValue}}</code> to <code>{{event.payload.value}}</code>
                </span>
                <span ng-switch-when="ThingStatusInfoEvent">
                  Thing <span class="label label-info">{{event.topicparts[2]}}</span> status is
                    <code>{{event.payload.status}}</code> <em ng-if="event.payload.statusDetail !== 'NONE'">({{event.payload.statusDetail}})</em> <em ng-if="event.payload.description">({{event.payload.description}})</em>
                </span>
                <span ng-switch-when="ThingStatusInfoChangedEvent">
                  Thing <span class="label label-info">{{event.topicparts[2]}}</span> status changed from
                    <code>{{event.payload[1].status}}</code> <em ng-if="event.payload[1].statusDetail !== 'NONE'">({{event.payload[1].statusDetail}})</em> <em ng-if="event.payload[1].description">({{event.payload[1].description}})</em>
                    to
                    <code>{{event.payload[0].status}}</code> <em ng-if="event.payload[0].statusDetail !== 'NONE'">({{event.payload[0].statusDetail}})</em> <em ng-if="event.payload[0].description">({{event.payload[0].description}})</em>
                </span>
                <span ng-switch-when="RuleStatusInfoEvent">
                  Rule <span class="label label-warning">{{event.topicparts[2]}}</span> status is
                    <code>{{event.payload.status}}</code> <em ng-if="event.payload.statusDetail !== 'NONE'">({{event.payload.statusDetail}})</em>
                </span>
                <span ng-switch-when="RuleAddedEvent">
                  Rule <span class="label label-warning">{{event.payload.uid}}</span> was added
                </span>
                <span ng-switch-when="RuleRemovedEvent">
                  Rule <span class="label label-warning">{{event.payload.uid}}</span> was removed
                </span>
                <span ng-switch-when="RuleUpdatedEvent">
                  Rule <span class="label label-warning">{{event.payload.uid}}</span> was updated
                </span>
                <span ng-switch-default>
                  <em class="text-info" title="{{event.topic}}">{{event.topic}}</em>
                  <ul style="padding-left: 16px">
                    <li><strong>type:</strong> {{event.type}}
                    <li ng-repeat="(key,val) in event.payload"><strong>{{key}}:</strong> <span title="{{val}}">{{val}}</span></li>
                  </ul>
                </span>
              </span>
            <li ng-repeat="event in vm.debuggerEvents" ng-if="vm.debuggerRawEvents">
              <em class="text-info" title="{{event.topic}}">{{event.topic}}</em>
              <ul style="padding-left: 16px">
                <li ng-repeat="(key,val) in event.payload"><strong>{{key}}:</strong> <span title="{{val}}">{{val}}</span></li>
              </ul>
            </li>
          </ul>
        </small>
      </uib-tab>

    </uib-tabset>

  </uib-accordion-group>
</uib-accordion>
