.dashboard {
    margin: 0 -10px;
}

.header {
    position: fixed;
    margin: -50px -15px -10px -15px;
    width: 100%;
    padding: 8px;
    z-index: 99;
    background: #000;
    background: var(--header-bg, #000);
    .btn:not(.btn-default):not(.btn-primary):not(.btn-success):hover {
        color: #def;
        color: var(--widget-text-color, #def);
    }
    .btn-edit-dashboard {
        display: none;
        padding: 0 6px;
    }
    h2 {
        display: inline;
        &.dashboard-title {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            span {
                &:hover {
                    .btn-edit-dashboard {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0db9f0;
    background: var(--primary-color, #0db9f0);
    color: #fff !important;
    font-size: 1.25em;
    width: 56px;
    line-height: 47px;
    padding: 5px 10px;
    height: 56px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    transition: all .3s cubic-bezier(.55, 0, .55, .2);
    z-index: 410;
    &:hover {
        color: rgba(255, 255, 255, .8) !important;
    }
}

.toolbar {
  top: 51px;
}

.sidebar-left {
  top: 101px;  /* menubar 50 + toolbar 51 */
  left: 0;

  border-right: 1px solid #eee;
  bottom: 0;
  display: block;
  padding: 0px;  /* padding: 5px; */
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;

  /* z-index: 1000;  */
}

.content-container {
  top: 101px;  /* menubar 50 + toolbar 51 */

  display: block;
  padding: 0px;

  /* z-index: 1001;  */
}

.content {
  top: 101px;  /* menubar 50 + toolbar 51 */

  background-color: #ffffff;
  overflow-x: auto;
  overflow-y: auto;

  width: calc(100%);
  height: calc(100%);
}

.sidebar-right {
  top: 101px;  /* menubar 50 + toolbar 51 */

  border-left: 1px solid #eee;
  bottom: 0;
  display: block;
  padding: 0px;  /* padding: 5px; */
  position: fixed;
  overflow-x: hidden;  /* hide the scrollbar */
  overflow-y: auto;

  /* z-index: 1002;  */
}

.modal-script-editor .CodeMirror {
    height: 600px;
}
